<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- 필터 S  -->
	<filter>
		<filter-name>Common Filter</filter-name>
		<filter-class>com.filter.CommonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Common Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 필터 E -->
	<!-- 서블릿 S -->
	<!-- 메인페이지 /index.jsp -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>com.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>
	<!-- 메인페이지 E  -->
	<!-- /kanban S  -->
	<servlet>
		<servlet-name>Kanban</servlet-name>
		<servlet-class>com.controller.KanbanController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kanban</servlet-name>
		<url-pattern>/kanban/*</url-pattern>
	</servlet-mapping>
	<!-- /kanban E -->
	<!-- /member S -->
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>
	<!-- /member E -->
	<!-- /file S -->
	<servlet>
		<servlet-name>File</servlet-name>
		<servlet-class>com.controller.FileController</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>File</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<!--  /file E -->
	<!-- 서블릿 E  -->
	<!--  에러 페이지 S  -->
	<error-page>
		<error-code>404</error-code>
		<location>/views/error/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/views/error/error.jsp</location>
	</error-page>
	<!--  에러 페이지 E  -->
</web-app>



